@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --light: #E5E7EB;
    --lighter: #F9FAF8;
    --dark-gray: #6D737C;
    --dark: #1F2937;
    --blue: #3882f6;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, sans-serif;
}

#header {
    background-color: var(--dark);
}

#nav-bar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;

    padding: 18px 0px;
}

#header-logo-text {
    font-size: 24px;
    font-weight: 900;
    color: var(--lighter);
    padding-inline: 18px;
}

#nav-links {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#nav-links li {
    display: inline;
}

.nav-link {
    font-size: 18px;
    color: var(--light);
    text-decoration: none;
    padding-inline: 12px;
}

#hero-section {
    display: flex;
    align-items: stretch;
    padding-block: 96px;
}

#hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 1020px;
    margin: auto;
}

#hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 48px;
}

#hero-main-text {
    margin-bottom: 0.4em;
    font-size: 48px;
    font-weight: bolder;
    color: var(--lighter);
}

#hero-secondary-text {
    margin-bottom: 0.8em;
    font-size: 18px;
    color: var(--light);
}

.cta-btn {
    padding: 6px 32px;
    background-color: var(--blue);

    border: none;
    border-radius: 8px;

    font-weight: bold;
    font-size: 18px;
    color: var(--lighter);
}

.hero-placeholder-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 520px;
    height: 230px;

    background-color: var(--dark-gray);
    color: var(--lighter);
}

@media screen and (max-width: 1020px) {
    #hero-content {
        flex-wrap: wrap;
        width: auto;
        padding-inline: 48px;
    }

    #hero-text {
        padding-right: 0px;
        margin-bottom: 36px;
    }
}

#features-section {
    display: flex;
    flex-direction: column;
    padding: 48px;
}

#features-header {
    margin: 0px;
    margin-bottom: 1.4em;

    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    color: var(--dark);
}

#feature-cards {
    display: flex;
    margin: auto;
    width: 820px;
    justify-content: space-between;
}

.feature-card {
    width: 170px;
}

.feature-card-img {
    aspect-ratio: 1/1;
    width: 100%;
    border: 4px solid var(--blue);
    border-radius: 16px;
}

.feature-card-description {
    margin-block: 0.6em;
    font-size: 18px;
    color: var(--dark-gray);
    text-align: center;
}

#quote-section {
    background-color: var(--light);
    padding: 48px 285px;
}

#quote-section .quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: var(--dark);
}

#quote-section .quotee {
    text-align: end;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
}
